body,
p,
ul,
h2 {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

button {
    padding: 0;
    border: none;
    outline: none;
}

body {
    background: #f0f0f0;
}

header {
    position: fixed;
    width: 100%;
    height: 45px;
    top: 0;
    z-index: 1;
    background: #29bde0;
}

header button {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: translateY(-50%) rotate(-135deg);
    transform: translateY(-50%) rotate(-135deg);
    background: none;
}

@media screen and (max-width: 426px) {
    p {
        font-size: 12px;
    }
}

main {
    padding: 45px 15px 0;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
    background: #fff;

    box-shadow: 1px 3px #d9d9d9;
}

.ratio {
    display: flex;
    height: 200px;
    margin-bottom: 10px;
    background: #fbfbfb;
}

.ratio div {
    display: flex;
    align-items: center;
    width: 50%;
    height: 44px;
    padding: 15px 0 15px 20px;
    line-height: 74px;
}

@media screen and (max-width: 426px) {
    .ratio div {
        font-size: 12px;
    }
}

.ratio .icon-killer {
    display: inline-block;
    width: 43px;
    height: 44px;
    background: url(../image/sprites.png) no-repeat -10px -181px;
}

.ratio .icon-people {
    display: inline-block;
    width: 43px;
    height: 44px;
    background: url(../image/sprites.png) no-repeat -73px -181px;
}

.slider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 45px;
    padding: 5px 15px;
    margin-bottom: 5px;
    background: #fff;
    
}

.subtract {
    width: 12px;
    height: 2px;
    padding: 9px 4px;
    border: 1px solid #fbb435;
    background: content-box #fbb435;
}

.add {
    width: 12px;
    height: 2px;
    padding: 9px 4px;
    border: 1px solid #fbb435;
    background: content-box #fbb435;
}

.add::before {
    content: '';
    display: block;
    width: 12px;
    height: 2px;
    background: #fbb435;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.slider input[type=range] {
    -webkit-appearance: none;
    width: 75%;
    height: 3px;
    outline: none;
    background-color: #fab344;
}

.slider input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
    margin-top: -7.5px;
    width: 30px;
    height: 18px;
    background: url(../image/wire.png) no-repeat;
   
}

.slider input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
}

.numberimport {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    margin-bottom: 10px;
    background: #fff;
}

.numberimport input[type=text] {
    width: 26px;
    border: none;
    outline: none;
    text-align: center;
    background: #eae6e6;
}

.numberimport input[type=text]:focus {
    margin: -1px;
    border: 1px solid #fbb435;
}

.numberimport span {
    font-size: 12px;
    color: #fbb435;
}

footer {
    padding-right: 15px;
    padding-left: 15px;
}

footer button {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: #fbb435;
}